
:root{
    --bg2: #121212;
    --bg: #191c20;
    --fg: #e4f0fb;

    --secBg: #506477;


  --turboRed: #FF0000;
  --turboPurple: #892CDC;
  --turboGreen: #045757;
  --turboOrange: #F05941;
  --turboBlue: #54A4AF;
  --turbopurple2: #932B77;
  --g1: #27e8a7;
  --g2: #32ae85;
  --g3: #42675a;
  --r1: #df4576;

  --black: rgb(24, 24, 37);
  --blue: rgb(137, 180, 250);
  --cyan: rgb(137, 220, 235);
  --green: rgb(166, 227, 161);
  --orange: rgb(250, 179, 135);
  --purple: rgb(203, 166, 247);
  --red: rgb(243, 139, 168);
  --white: rgb(245, 224, 220);
  --yellow: rgb(249, 226, 175);


  --fontBody: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --fontHeader: "Monocraft", monospace;
  --invert: 1;

}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: var(--fontBody);
    font-size: 100%;

    
  }
  
  * {
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: var(--fg);
    outline-style: none;
    scrollbar-color: #00000000 #00000000;
    scrollbar-width: thin;
    text-decoration: none;

    position: relative;
  }


/*----------------------TIME----------------------------*/
.time{
    align-items: center;
    justify-content: center;
    text-align: center;
    /*margin-left: 50%;*/
    width: 100%;


    /*border-width: 1px;
  border-style: solid;
  border-color: gray;*/
    
}


/*----------------------WHEATHER----------------------------*/
.wheather{
    width: 100%;
    height: 100px;
/*border-width: 1px;
  border-style: solid;
  border-color: gray;*/
    
  margin: 5px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

/*----------------------SEARCH----------------------------*/
.search{
    width: 100%;
    
    /*border-width: 1px;
  border-style: solid;
  border-color: gray;*/
    
  margin: 15px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}





.search-text {
    width: 500px;
    height: 45px;
    font-size: 20px;
    background-color: var(--bg);
    border-radius: 18px;
    outline: none;
    border: none;
    
/*border-width: 1px;
  border-style: solid;
  border-color: gray;*/
    
  }

 .form{
    width: 100%;
    margin: 0 auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%
 }
  .search-text:focus {
    background-color: var(--bg);
    border-radius: 18px;
    outline: 3px solid #327abd;
    border: none;
    box-shadow: 0 0 45px #bebebe;
    transition: 0.05s cubic-bezier(0.18, 0.87, 0.54, 1.03);
  }
  
  .search-text[type="text"] {
    padding: 0 16.5px;
  }
  
  .search-text:placeholder-shown {
    font-weight: 800;
    color: var(--white);
    padding: 0 13px;
  }
  
  .search-text[type="text"]:focus {
    font-weight: 400;
    color: var(--white);
    transition: 0.09s cubic-bezier(0.18, 0.87, 0.54, 1.03);
  }
  
  

/*----------------------TABS----------------------------*/
.tabs{
    width: 100%;
    height: 600px;
    
    
  margin: 5px auto;
/*border-width: 1px;
  border-style: solid;
  border-color: gray;*/
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4vh;
    padding: 4vh;
    
    /**/
}

.data-tab{

  float: left;
  
 
    /**/
  
    width: 14%;
    height: 70%;
    display: flex;
    
    /*align-items: center; justify-content: center;*/
    flex:auto;
    justify-content: center
    
    
}


@media (max-width: 500px) {
    .tabs{
        flex-direction: column;
    }
    .data-tab{
        flex: 20%;
    }
}

@media (min-height: 1920px) {
    .tabs{
        flex-direction: column;
    }
    .data-tab{
        flex: 33%;
    }
}




ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    text-align: center;
    
  }
  il{
    text-align: center;
    justify-content: left;
    

  }
  
  

a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 2px 10px;
    text-align: left;
    justify-content: left;
  }  





#tab-1{
  border-width: 1px;
  border-style: solid;
  border-color: red;
}
.departments-1 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-1 { list-style-type: none; }

ul.departments-1 li { line-height: 120%; margin-bottom: 4px; /*padding: 3px 0 3px 7px;*/ font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-1 li:hover { background: var(--turboRed); }

ul.departments-1 a{ text-decoration: none; color: #FFFFFF;}


#tab-2{
  border-width: 1px;
  border-style: solid;
  border-color: #045757;
}

.departments-2 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-2 { list-style-type: none; }

ul.departments-2 li { line-height: 120%; margin-bottom: 4px; padding: 3px 0 3px 7px; font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-2 li:hover { background: var(--turboGreen); }

ul.departments-2 a{ text-decoration: none; color: #FFFFFF;}


#tab-3{
  border-width: 1px;
  border-style: solid;
  border-color: #932B77;
}
.departments-3 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-3 { list-style-type: none; }

ul.departments-3 li { line-height: 120%; margin-bottom: 4px; padding: 3px 0 3px 7px; font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-3 li:hover { background: #932B77; }

ul.departments-3 a{ text-decoration: none; color: #FFFFFF;}


#tab-4{
  border-width: 1px;
  border-style: solid;
  border-color: #F05941;
}
.departments-4 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-4 { list-style-type: none; }

ul.departments-4 li { line-height: 120%; margin-bottom: 4px; padding: 3px 0 3px 7px; font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-4 li:hover { background: #F05941; }

ul.departments-4 a{ text-decoration: none; color: #FFFFFF;}

#tab-5{
  border-width: 1px;
  border-style: solid;
  border-color: #54A4AF;
}
.departments-5 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-5 { list-style-type: none; }

ul.departments-5 li { line-height: 120%; margin-bottom: 4px; padding: 3px 0 3px 7px; font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-5 li:hover { background: #54A4AF; }

ul.departments-5 a{ text-decoration: none; color: #FFFFFF;}

#tab-6{
  border-width: 1px;
  border-style: solid;
  border-color: #892CDC;
}
.departments-6 { /*margin: 0px 4px 7px 0px;*/ color: #FFFFFF; }

ul.departments-6 { list-style-type: none; }

ul.departments-6 li { line-height: 120%; margin-bottom: 4px; padding: 3px 0 3px 7px; font-size: 13px; background: none; border-radius: 10px; font-weight: 900; }

ul.departments-6 li:hover { background: #892CDC; }

ul.departments-6 a{ text-decoration: none; color: #FFFFFF;}


